* Theme colors */
:root {
  --yellow: #98971a;
  --purple: #b16286;
  --black: #282828;
  --green: #689d6a;
  --tan: #f9f5d7;
  --orange: #d65d0e;
}

html{
    background-color: var(--tan);
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3% 0 0 0;
    background-color: #665c54;
}

svg{
   display: flex;
}

h1{
    text-align: center;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
}

h2{
    text-align: center;
    margin: 10px 0 5px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
.tile{
    stroke-width: 1px;
    stroke: #665c54;
}
.tooltip{
    position: absolute;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    border-radius: 4px;
    background-color: #665c54;
    border: 2px solid black;
    color: white;
}

.legend{
    display: flex;
    flex-shrink: 1;
    flex-basis: 0;
    stroke-width: 2;
    stroke: var(--black);
    fill: var(--tan);
  }
